body{
    background: url("../img/bg2.gif") repeat repeat;
}
@media (min-width: 992px) {
    .player-i{
        height: 550px;
    }
}
@media (max-width: 992px) {
    div.user-xs{
        margin-top: 50px;
    }
    .hidden-iframe-ad{
        position: absolute;
        bottom: -50px;
        background: url("../img/bg2.gif") repeat repeat;
        height: 55px;
        width: 100%;
        z-index: 999;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .player-i{
        height: 430px;
    }
}
@media (max-width: 768px) {
    .player-i{
        height: 340px;
    }
}
.player-i{
    position: relative;
    background-color: black;
    text-align: center;
}
.message{
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
    color: white;
    white-space: nowrap;
}
.container-center{
    margin: 0 auto;
}
h3{
    margin-bottom: 20px;
}
.user-group{
    margin-bottom: 15px;
    margin-top: 15px;
}
footer{
    margin-top: 20px;
}
footer p{
    margin-bottom: 2px;
}